.bottom {
	position: absolute;
	bottom: 0;
}
ul.commentlist, ul.children {
	padding-left: 1rem;
}

blockquote {
    font-style: italic;
}

/* =WordPress Classes
-------------------------------------------------------------- */

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignright {
	display: inline;
	margin: 1rem 0 1rem 3rem;
}
img.alignleft {
	display: inline;
	margin: 1rem 3rem 1rem 0;
}
.wp-caption {
	margin: 1rem;
	padding: 1rem;
	text-align: center;
}
.wp-caption.aligncenter {
	margin: 1rem auto;
}
.wp-caption p {
	background-color: #ddd;
	margin-bottom: 3rem;
	padding: 0 1rem;
}
